.one-card {
  display: flex;
  width: 100%;
  justify-content: space-between;

  border: 1px solid #e0e3ee;
  border-radius: 20px;

  .left-side {
    display: flex;
    padding: 20px;

    .photo {
      display: flex;
      img {
        width: 256px;
        height: 256px;
        border-radius: 10px;
      }
    }

    .card-info {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      height: 256px;

      .sell-type {
        font-size: 13px;
        color: #969dc3;
      }

      .item-name {
        font-size: 15px;
        color: #2d3b87;
        margin-top: 12px;
      }

      .item-place {
        font-size: 13px;
        margin-top: 24px;
        background-color: #f4f5f9;
        padding: 4px 8px;
        border-radius: 5px;
        width: fit-content;
        color: #616ca5;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .seller {
        display: flex;
        gap: 4px;
        margin-top: 12px;

        p {
          font-size: 13px;
        }

        .seller-title {
          color: #969dc3;
        }
        .seller-value {
          color: #2d3b87;
        }
      }

      .item-type {
        font-size: 13px;
        margin-top: 12px;
        background-color: #f4f5f9;
        padding: 8px;
        border-radius: 5px;
        width: fit-content;
        color: #969dc3;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .type-value {
          color: #616ca5;
        }
      }

      .about {
        margin-top: 12px;
        height: 64px;
        p {
          line-height: 20px;
          height: 64px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #2d3b87;
          font-size: 13px;
        }
      }
    }
  }
  .right-side {
    border: 1px solid #e0e3ee;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-header {
      display: flex;
      flex-direction: column;
      gap: 5.5px;
      h2 {
        color: #2d3b87;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 8px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 13px;
          color: #969dc3;
        }

        h5 {
          font-size: 13px;
          color: #2d3b87;
          font-weight: 400;
        }
      }
    }

    .card-footer {
      display: flex;
      gap: 12px;

      .add-button {
        cursor: pointer;
        width: max-content;
        background-color: #f4f5f9;
        border: 1px solid #f4f5f9;
        border-radius: 10px;
        padding: 17.5px 35.5px;
        font-size: 15px;
        color: #2d3b87;
        font-weight: 600;
        min-width: 216px;
      }

      .pay-button {
        background-color: #69c57f;
        border: 1px solid #69c57f;
        color: #ffffff;
      }

      .favorite-button {
        cursor: pointer;
        background-color: #f4f5f9;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
      }
    }
  }
}

.favorite {
  .right-side {
    .card-footer {
      .favorite-button {
        background-color: #2d3b87;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

.paid {
  .right-side {
    .card-footer {
      .pay-button {
        background-color: #ffffff;
        color: #969dc3;
        border: 1px solid #e0e3ee;
        cursor: not-allowed;
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .one-card {
    flex-direction: column;

    .right-side {
      .card-footer {
        justify-content: center;
        margin-top: 24px;
        .add-button {
          width: 90%;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .one-card {
    .left-side {
      .photo {
        img {
          width: 222px;
          height: 222px;
        }
      }
    }
    .right-side {
      margin-top: 48px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .one-card {
    .left-side {
      flex-direction: column;

      .photo {
        justify-content: center;

        img {
          width: 78vw;
          height: 78vw;
        }
      }

      .card-info {
        margin-top: 24px;
      }
    }

    .right-side {
      margin-top: 12px;
    }
  }
}
