.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: fit-content;

  .types {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #f4f5f9;
    padding: 0px 12px;
    border: 1px solid #e0e3ee;
    border-radius: 10px;

    .one-type {
      cursor: pointer;
      background-color: transparent;
      border: none;
      padding: 12px 0px;
      font-size: 15px;
      color: #969dc3;
    }
    .current-type {
      color: #2d3b87;
    }
  }

  .main-search {
    display: flex;
    position: relative;

    input {
      height: 48px;
      width: 274px;
      border: 1px solid #e0e3ee;
      border-radius: 10px;
      padding: 0px 48px 0px 20px;
      color: #2d3b87;
    }

    input::placeholder {
      color: #969dc3;
    }

    input::-ms-input-placeholder {
      color: #969dc3;
    }

    button {
      cursor: pointer;
      position: absolute;
      top: 4px;
      right: 4px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2d3b87;
      border-radius: 10px;
      border: none;
    }
  }
}

@media only screen and (max-width: 1296px) {
  .search-bar {
    width: 80vw;
  }
}

@media only screen and (max-width: 750px) {
  .search-bar {
    flex-direction: column-reverse;
    gap: 18px;

    .types {
      width: 100%;
      justify-content: center;
    }
    .main-search {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .search-bar {
    width: 90vw;
  }
}
